RewriteEngine on
RewriteCond $1 !^(index\.php|ckeditor|ckfinder|images|public|uploads|timthumb.php|robots\.txt)
RewriteRule ^(.*)$ /eves/index.php/$1 [L]

// The .htaccess file will be different from person to person and requires mod_rewrite